*{
	margin: 0;
	padding: 0;
	color: white;
	background-position: cover;
}

.Page{
	width: 1130px;
	margin: auto;
}

header{
	background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url("images/BBG2.jpg");
	height: auto;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
	position: relative;
}

.nav-area{
	float: right;
	list-style: none;
	margin-top: 30px;
}

.nav-area li{
	display: inline-block;
}

.nav-area li a{
	color: #fff;
	text-decoration: none;
	padding: 5px 18px;
	font-family: cursive;
	font-size: 16px;
}

.nav-area li a:hover{
	background: #fff;
	color: #333;
}

.logo img{
	width: 100px;
	float: left;
	height: auto;
}

.Welcome-Text{
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 10% 30%;
	text-align: center;
}

.Welcome-Text h1{
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}

.Welcome-Text a{
	border:1px solid #fff;
	padding: 10px 25px;
	text-decoration:none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}

.Welcome-Text a:hover{
	background: #fff;
	color: #333;
}

.test{
	padding-top: 200px;
	padding-left: 50px;
	padding-right:50px;
	line-height: 25px;
	display:inline-block;
	text-align: justify;
	border-bottom: 1px dotted;
	font-family: verdana, sans-serif;
}

.left{
    text-align: center;
    width: 400px;
    height: auto;
    padding: 5px;
    border: 5px solid gray;
    margin: auto;
    float: left;
}
.right{
    text-align: center;
    width: 400px;
    height: auto;
    padding: 5px;
    border: 5px solid gray;
    margin: auto;
    float: right;

}
.center{
    text-align: center;
    width: 400px;
    height: auto;
    padding: 5px;
    border: 5px solid gray;
    margin: auto;
    float: center;
}